.slider_row {
  width: 80%;
  margin: auto;
}
.title {
  margin-left: 2%;
  font-size: 24px;
  margin-top: 40px;
  margin-bottom: 5px;
}
.products_box {
  width: 250px;
  height: 400px;
  margin: 2%;
  margin-top: 10px;
}

.products_img {
  height: 100%;
  transition: 0.5s;
}
.products_img:hover {
  height: 110%;
}

.products_img_box {
  border: solid;
  border-color: #f1f1f1;
  width: 100%;
  height: 250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: end;
}
.image_wrapper {
  display: flex;
  justify-content: center;
  height: 200px;
  overflow: hidden;
}
.products_container {
  margin: auto;
  width: 70%;
  display: flex !important;
  justify-content: center;
  flex-wrap: wrap;
}
.add_to_cart {
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #df0026;
  color: white;
  margin-top: 7px;
}

.product_name_box {
  height: 50px;
}

.leran_more {
  text-decoration: none;
  width: 100%;
  height: 0;
  background-color: #a13244;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;
  color: white;
  font-weight: bold;
}

.products_img_box:hover .leran_more {
  height: 35px;
}
