.product_details_root {
  width: 70%;
  margin: auto;
  margin-top: 70px;
}

.product_info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product_img_box {
  background-color: #f1f1f1;
  width: 50%;
}

.product_img {
  width: 100%;
}

.product_text {
  width: 48%;
  min-width: 300px;
  height: 500px;
}

.product_text > h1 {
  font-size: 28pt;
}

.product_text > p {
  margin-top: 40px;
  padding-left: 5px;
  font-size: 20pt;
  font-weight: normal;
}

.add_to_cart {
  height: 55px;
  width: 50%;
  background: #df0026;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

@media (max-width: 1000px) {
  .product_img_box {
    width: 100%;
  }
  .product_text {
    width: 100%;
  }
}
